* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
 font-size: 100%;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
ol, ul {
    list-style-type: none;
}
body {
    position: relative;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.col {
    margin: 0 8px;
}
.ful-col {
    width: 100%;
}
.two-col {
    width: 50%;
}
.three-col {
    width: 33.33333%;
}
a {
    text-decoration: none;
}
.text-while {
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
}
.header {
    display: flex;
    flex-direction: row;
    background: #000;
    color: #fff;
    height: 46px;
   justify-content: space-between;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
   z-index: 10000;
}
.header .nav {
    flex: 1;
}
.header .nav > ul{
    display: flex;
    font-size: 16px;

}
.header > .nav > ul > li {
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.nav > ul > li:hover > a{
    color: #000 !important;
    background-color: #ccc;
}
.nav-more-list ul li:hover {
    background-color: #ccc;
}
.header-search {
    line-height: 46px;
    padding: 0 20px;
}
.header-search:hover {
    background: #f44336;
}
.slider {
    position: relative;
}
.slider img {
    width: 100%;
}
.slider-content {
    position: absolute;
    bottom: 49px;
    color: #fff;
    width: 100%;
    text-align: center;
}
.slider-content h2 {
    font-size: 20px;
    font-weight: 300;
    padding: 20px;
}
.slider-content p{
    font-weight: 700;
    font-size: 15px;
}
.nav-more {
    position: relative;
}
.nav-more p a {
    display: inline-block;
}
.nav-more-list {
    display: none;
    background: #fff;
    position: absolute;
    top: 46px;
    left: 0;
    text-transform:none;
    box-shadow:  9px 11px 15px 3px rgba(0, 0, 0, 0.459);
}
.nav-more-list ul li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    min-width: 160px;
    font-size: 15px;
    line-height: 22px;
    
}
.nav ul li:hover .nav-more-list {
    display:block;
}
.content .content-body {
    text-align: center;
}
.content-heading h2 {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 200;
    line-height: 45px;
    letter-spacing: 3px;
    margin: 10px 0;
}
.content-heading h3 {
    font-style: italic;
    font-weight: 200;
    opacity: 0.6;
    line-height: 22px;
    margin: 15px 0;
}
.content-heading p {
    text-align: justify;
    font-size: 15px;
    line-height: 19px;
    word-spacing: 2px;
    margin: 15px 0;
}
.content-layout {
    padding: 64px 16px;
    max-width: 800px;
    margin: auto;
}
.content-tour {
    background: #000;
    color: #fff;
}
.list-member {
    padding: 32px 0;
}
.list-member .member h4 {
    line-height: 22px;
    margin: 15px 0;
    font-weight: 200;
}
.list-member .member img {
    max-width : 154px;
    border-radius: 5px;
}
.list-month {
    display: block;
}
.list-month ul li {
    width: 100%;
    display: flex;
    background-color: #fff;
    color: rgb(114, 114, 114);
    line-height: 22px;
    padding: 8px 16px;
}
#sold-out {
    border-bottom: 1px solid #ddd;
}
#sold-out .quantity-sold-out {
    background-color: #f44336;
    color: #fff;
    line-height: 22px;
    padding:0 8px;
    margin-left: 16px;
    font-size: 15px;
}
.list-month #quantity-september {
    justify-content: space-between;
}
.list-month #quantity {
    background: #000;
    color: #fff;
    padding: 6px;
    border-radius: 50%;
    line-height: 9px;
}
.list-space {
    padding: 32px 8px;
    margin: 0 -16px;
}
.space {
    background-color: #fff;
}
.list-space .space img {
    width: 100%;
    display: block;
}
.list-space .space img:hover {
    filter:grayscale(100%);
    cursor: pointer;
}
.img {
    
}
.space-about {
    color: rgb(0, 0, 0);
    padding: 0 16px;
    text-align: left;
}
.space-about .space-name {
    font-weight: 600;
    line-height: 22px;
    margin: 15px 0;
}
.sub-space-name {
    opacity: 0.7;
    line-height: 22px;
    margin: 15px 0;
}
.space-about p {
    line-height: 22px;
    margin: 15px 0;
}
.btn {
    background: #000;
    color: #fff;
    line-height: 22px;
    padding: 8px 16px;
    margin-bottom: 16px;
    border: none;
}
.btn:hover {
    background: #ccc;
    color: #000;
    cursor: pointer;
}
.contact-infor ul li {
    display: flex;
    align-items: center;
    line-height: 27px; 
    font-size: 17px;
}
.contact-infor, .contact-note {
    width: 50%;
}
.contact-name-email {
    justify-content: space-between;
    margin-bottom: 10px;
}
.inp-contact {
    width: calc(50% - 9px);
    padding: 10px;
    border: 1px solid #ccc;

}
.contact-note .contact-message input{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 18px;
}
.pull-right {
    float: right !important;
}
.img-map img {
    width: 100%;
    filter:grayscale(50%);
    display: block;
}
.footer{
    background-color: #f1f1f1;
}

.footer-body{
    padding: 64px 16px;
}

.footer-body .brand-icon ul{
    display: flex;
    justify-content: center;
}
.footer-body .brand-icon ul li i {
    padding: 0 2px;
    font-size: 1.5rem;
    color: #666666;
}
.footer-about{
    line-height: 22px;
    margin: 15px;
    text-align: center;
    color: rgb(102, 102, 102);

}
.footer-about a {
    color: rgb(102, 102, 102);
}
.modal-body {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.26);
}
.ticket-modal {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 900px;
    min-height: 450px;
    animation: modalticketcomein ease 0.9s;
}
.modal-header {
    background-color: #009688;
    padding: 32px 16px;
    
}
.modal-header .modal-header-name {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.modal-header button{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 10px;
    background-color: #009688;
    color: #fff;
}
.modal-header button:hover {
    color: rgb(0, 0, 0);
    background-color: #afafaf;
}
.modal-content {
    padding: 0 16px;
}
.modal-content .modal-input .input-title {
    display: flex;
    width: 100%;
    margin: 15px 0;
    font-size: 19px;
}
.modal-content .modal-input input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    line-height: 22px;
}
.modal-content > button {
    display: flex;
    justify-content: center;
    padding: 16px;
    line-height: 22px;
    background-color: #009688;
    color: #fff;
    border: none;
    margin: 16px 0;
    width: 100%;
}
.modal-content > button:hover {
    background-color:#afafaf;
    color: #000;
}
.modal-content > p {
    margin: 16px 0;
    line-height: 22px;
}
.modal-content > p > a {
    color:rgb(0, 139, 219);
}
.open {
    display: flex;
}
 @keyframes modalticketcomein {
     from {
         transform: translateY(-400px);
     }
     to {
         transform: translateY(0);
     }
 }